/* p{
    font-family:'Courier New', Courier, monospace
} */

/* p {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
} */

p{
    font-size:48;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
  }